<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <a type="button" class="btn btn-primary" href="/">Inicio</a>
    <a type="button" class="btn btn-danger" href="/remove-dish">Eliminar</a>

    <h1>Agregar Platos</h1>
    <form class="row g-3">
        <div class="col-auto">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" placeholder="Ingresar Id del plato">
          </div>
        <div class="col-auto">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Ingresar Nombre">
          </div>
        <div class="col-auto">
            <label for="calories">Calorias</label>
            <input type="number" class="form-control" id="calories" placeholder="Ingresar Calorias">
          </div>
          <label >¿Vegetariano?</label>
          <select class="form-select col-auto" aria-label="¿Vegetariano?" id="vetarian">
            <option value="1">Si</option>
            <option value="2">No</option>
          </select>
        <div class="col-auto">
            <label for="value">Valor</label>
            <input type="number" class="form-control" id="value" placeholder="Ingresar Valor">
          </div>
        <div class="col-auto">
            <label for="comments">Comentarios</label>
            <input type="text" class="form-control" id="comments" placeholder="Ingresar Comentarios">
          </div>
          <br>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" id="agregar" type="button">Agregar</button>
        </div>
      </form>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>